<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
    <div class="row">   
      <div class="col-md-8 order-md-1">
        <h2 class="mb-3"><strong>Billing address</strong> </h2>
        <form [formGroup]="AddressForm" (ngSubmit)="save()">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName" class="form-label">First name</label>
              <input  class="validate" formControlName="firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required />
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName" class="form-label">Last name</label>
              <input  class="validate" formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="" value="" required />
            </div>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input  class="validate" formControlName="address1" type="text" class="form-control" id="address" placeholder="1234 Main St" value="" required />          
          </div>

          
          <div class="row">
            <div class="col-md-5 mb-3">
              <label for="country" class="form-label">Country</label>
              <select  class="validate" formControlName="country" class="form-select d-block w-100" id="country" required>
                <option value="">Choose...</option>
                <option>India</option>
               
              </select>
            </div>
            <div class="col-md-4 mb-3">
              <label for="state" class="form-label">State</label>
              <select  class="validate" formControlName="state" class="form-select d-block w-100" id="state" required>
                <option value="">Choose...</option>
                <option>Kerala</option>
                <option>TamilNadu</option>
                <option>Karnataka</option>
              </select>
             
            </div>
            <div class="col-md-3 mb-3">
              <label  for="zip" class="form-label">Zip</label>
              <input  class="validate" formControlName="zip" type="text" class="form-control" id="zip" placeholder="" required />        
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">PhoneNumber</label>
              <input  class="validate" formControlName="PhoneNumber" type="number" class="form-control" id="PhoneNumber" placeholder="9999999999" required/>             
            </div>
          </div>

          <h4 class="mb-3">Payment</h4>

          <div class="d-block my-3">
            <div class="form-check">+
              <input  class="validate" id="cash" name="paymentMethod" type="radio" class="form-check-input" checked required />
              <label class="form-check-label" for="Cash">Cash On Delivery</label>
            </div>
          </div>
        </form>  
          <hr class="mb-4" />
          <a [routerLink]="['/thankyou']"  ><button  [disabled]="!AddressForm.valid" class="btn btn-dark px-4 rounded-pill" (click)="save()" type="submit">Procced</button></a>
  
      </div>
    </div>



